:root{
--link:#1c47e3;
}
/* CONTAINER */
.carousel {
    max-width: 800px;
    margin: 0px auto;
    background: #fff;
    border-radius: 16px;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.15); */
    padding: 40px 0 50px;
    position: relative;
    overflow: hidden;
}

/* TRACK */
.carousel-track {
    display: flex;
    transition: transform 0.6s ease;
}

/* SLIDE */
.carousel-slide {
    min-width: 100%;
    text-align: center;
    padding: 20px 40px;
    
}

/* LOGO */
.carousel-slide img {
    max-width: 180px;
    max-height: 90px;
    object-fit: contain;
    
}

/* TEXTE */
.carousel-slide h3 {
    margin: 0;
    font-size: 20px;
}

.carousel-slide p {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

/* BOUTONS */
.carousel-btn {
    position: absolute;
    top: 45%;
    background: #555555;
    color: #fff;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.85;
}

.carousel-btn:hover {
    opacity: 1;
}

.prev { left: 10px; }
.next { right: 10px; }

/* DOTS */
.carousel-dots {
    text-align: center;
    margin-top: 20px;
}

.carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .active {
    background: var(--link);
}
.credly-img{
    width: 150px;
    float: right;
}