
:root{
--bg:#fff;
--text:#1f1f1f;
--muted:#6b6b6b;
--primary:#01b289;
--card:#f6f6f6;
--border:#e2e2e2;
--career:#01b289;
--gallery:#f4f4f4;
--telegram-btn:#006f99;
--telegram-fc:#f0f8ff;
--telegram-fc-sec:#f4f4f4;
--logo:#ba705d;
--link:#1c47e3;
}
*{box-sizing:border-box}
body{
    margin:0;
    font-family:'Open Sans',sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.65;
}
a{text-decoration: none;color:var(--link);}
a:hover{text-decoration: underline;}
section{padding:40px 10px}
.container{max-width:1180px;margin:auto;}

/* NEW SMALLER SECTION WIDTH */
.small-container{
max-width:1000px;
margin:auto;
padding:40px 0px;

/* background:var(--card); */

/* border-radius:12px; */
/* border:1px solid var(--border); */
}

/* NAV */
nav{
position:fixed;
top:0;width:100%;
background:rgba(0,0,0,.65);
backdrop-filter:blur(6px);
z-index:1000
}
.nav-inner{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1180px;
margin:auto;
padding:14px 20px
}
nav a{
color:#fff;
text-decoration:none;
margin-left:22px;
font-size:14px
}
.lang-toggle img{width:24px;cursor:pointer;margin-left:10px}

/* HAMBURGER BUTTON */
.hamburger{
display:none;
flex-direction:column;
gap:4px;
cursor:pointer;
}
.hamburger span{
width:26px;
height:3px;
background:white;
border-radius:4px;
transition:.3s;
}

/* MOBILE MENU */
nav .menu{
display:flex;
align-items:center;
transition:.3s;
}
nav.open .menu{
display:block;
position:absolute;
top:60px;
left:0;
width:100%;
background:rgba(0,0,0,0.9);
padding:20px;
text-align:center;
}
nav.open .menu a{
display:block;
margin:14px 0;
}

/* HERO */
.hero{
min-height:50vh;
background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("../img/cover.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:#fff;
padding-top:80px
}
.hero .container{
display:flex;
flex-direction:column;
align-items:center;
animation:fadeHero 1.2s ease
}
.hero p{
    padding: 0px; margin: 0px;
}
.hero img{
width:120px;
border-radius:50%;
border:3px solid #fff;
margin-bottom:20px
}
@keyframes fadeHero{
from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:none}
}

/* TITRES */
.section-title{text-align:center;margin-bottom:10px}
.section-title span{color:var(--primary)}

/* PRESENTATION */
.presentation p{font-size:18px;color:var(--muted)}

/* SKILLS */
.skills{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px
}
.skill-card{
/* background:var(--card); */
padding:15px;
/* border-radius:14px; */
/* border:1px solid var(--border); */
transition:.3s
}
/* .skill-card:hover{transform:translateY(-6px)} */

/* CERTIFICATIONS */
.certifications-container{
    position:relative;overflow:hidden; 
   
}
.certifications{
display:flex;
transition:.5s
}
.certifications div{
min-width:100%;
display:flex;
align-items:center;
justify-content:center;
gap:30px;
}
.certifications img{
width:100px;
border-radius:100px;
}

/* Text next to image */
.certifications p{
/* font-size:20px;
font-weight:600; */
color:var(--text);
margin:0;
}

.carousel-btn{
position:absolute;top:50%;transform:translateY(-50%);
background:rgba(0,0,0,.5);border:none;color:#fff;
font-size:22px;padding:8px;cursor:pointer
}
.carousel-prev{left:10px}
.carousel-next{right:10px}

/* GALERIE */
.gallery-section{
    background-color: var(--gallery);
}
.gallery{
    max-width: 900px;
    margin: auto;
    display:grid;
    grid-template-columns:1fr;
    gap:10px;
}
.gallery-item{
display:flex;
align-items:center;
/* background:var(--card);  */
padding:0px;
border-radius:14px; 
transition:.3s;
}
/* .gallery-item:hover{transform:translateY(-6px)}  */
.img-wrapper{
    width:60px;
    overflow:hidden;
    margin-right:10px;
}
.img-wrapper img{width:100%;height:100%;object-fit:cover}
.text-wrapper{flex:1}
.text-wrapper p{
    padding:0px;
    margin: 0px 0px 30px 0px;
}

/* CAREER */
.career-container{
display:flex;
flex-direction:row;
gap:40px;
align-items:center;
}
.career-content{
    border-radius: 2px; box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: var(--telegram-fc);
}
.career{
    background-color: var(--career);
    color: #fff;
}
.career-text{flex:1.5}
.career-image{flex:1}
.tfc-text{
    flex:1; text-align: center;
    padding: 60px 0px 60px 0px;
}
.tfc-text img{ width: 80px;}
.tfc-image{
    flex:1; 
    padding: 30px;
    background-color: white;
}
.career-image img{width:100%;border-radius:0px}

/* FOOTER */
footer{
background:#000;
color:#777;
text-align:center;
padding:24px;
font-size:14px
}

/* ANIM */
.reveal{opacity:0;transform:translateY(25px);}
.reveal.show{opacity:1;transform:none;transition:.8s}

/* RESPONSIVE */
@media(max-width:900px){

.hamburger{display:flex;}

nav .menu{
display:none;
flex-direction:column;
width:100%;
}

.skills{grid-template-columns:1fr}
.career-container{flex-direction:column; }
.container{padding: 0px 10px 0px 10px;}
.career-image{margin-top:20px}
.img-wrapper{
    width:70px;
    margin-right:15px;margin-bottom:0
}
.gallery-item{flex-direction:row;text-align:left}
.hero{min-height:auto;padding:140px 20px}

.certifications div{flex-direction:column;text-align:center;
}

.tfc-text{
    width: 100%;
}
.career-shadow{
    border-radius: 0px; box-shadow: 0 5px 15px rgba(0,0,0,0.0);
}
.small-container{
    padding: 0px;
}
.carousel-btn{
display: none;
}
}


/*My CSS*/
.center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.ligne {
            width: 200px;              /* largeur de la ligne */
            border-top: 1px solid #000; /* épaisseur et couleur de la ligne */
            margin: 20px auto
        }

.about-me-btn {
        display: block;              /* fait du bouton un bloc pour centrer */
        width: 250px;                /* largeur du bouton */
        text-align: center;          /* texte centré */
        padding: 10px 0;             /* hauteur du bouton */
        text-decoration: none;       /* supprime le soulignement du lien */
        color: #fff;                 /* couleur du texte */
        font-weight: bold;            /* texte en gras */
        transition: all 0.3s;        /* effet transition au survol */
        background-color: var(--primary);
    }
.about-me-btn:hover {
        background-color: #000;      /* fond noir au survol */
        color: #fff;                 /* texte blanc au survol */
    }
.telegram-btn {
        display: block;              /* fait du bouton un bloc pour centrer */
        width: 250px;                /* largeur du bouton */
        text-align: center;          /* texte centré */
        padding: 10px 0;             /* hauteur du bouton */
        text-decoration: none;       /* supprime le soulignement du lien */
        color: #fff;                 /* couleur du texte */
        font-weight: bold;            /* texte en gras */
        transition: all 0.3s;        /* effet transition au survol */
        background-color: var(--telegram-btn);
    }
.telegram-btn:hover {
        background-color: #000;      /* fond noir au survol */
        color: #fff;                 /* texte blanc au survol */
    }
.career-contact img{
    width: 50px;
}
.career-contact{
    text-decoration: none;
    list-style: none;
}
.social-media-li {
   margin-top: 10px;
}
.social-media-icon a{
    margin-right: 20px;
}
.career-section{
    background-color: var(--gallery);
    
}
